<div class="generalContainer">
  <div class="bodyCont">
    <h1>Login application</h1>
    <p>Made using Angular for the front end, Java Spring Boot for the back end, and NoSQL MongoDB as database</p>
    <div class="buttonsLanding">
      <button mat-raised-button color="accent">Login</button>
      <button mat-raised-button color="accent">Registration</button>
    </div>
  </div>
  <div class="foot">
    <a style="color:#fff;" href="https://github.com/JonathanPinilla">@Jonathan Pinilla</a>
  </div>
</div>
